openapi: 3.0.0
info:
  title: NTTA Trips API
  version: 1.0.0
  description: HAR To Postman Generated Collection
servers:
  - url: https://sptrips.ntta.org
  - url: https://ssptrips.ntta.org
paths:
  /CustomerPortal/api/locationname:
    get:
      summary: >-
        sptrips.ntta.org/CustomerPortal/api/locationname?locationName=NTTACENTRAL&isFromRTP=false
      parameters:
        - name: locationName
          in: query
          schema:
            type: string
          example: NTTACENTRAL
        - name: isFromRTP
          in: query
          schema:
            type: boolean
          example: "false"
        - name: ":authority"
          in: header
          schema:
            type: string
          example: sptrips.ntta.org
        - name: ":method"
          in: header
          schema:
            type: string
          example: GET
        - name: ":path"
          in: header
          schema:
            type: string
          example: >-
            /CustomerPortal/api/locationname?locationName=NTTACENTRAL&isFromRTP=false
        - name: ":scheme"
          in: header
          schema:
            type: string
          example: https
        - name: accept-encoding
          in: header
          schema:
            type: string
          example: gzip, deflate, br, zstd
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-US,en;q=0.9
        - name: allowanonymous
          in: header
          schema:
            type: boolean
          example: "false"
        - name: api-origin
          in: header
          schema:
            type: string
          example: CustomerPortal
        - name: appcurrdate
          in: header
          schema:
            type: string
          example: 12%2F20%2F2025%2012%3A40%3A32%20PM
        - name: cache-control
          in: header
          schema:
            type: string
          example: no-cache
        - name: channelid
          in: header
          schema:
            type: integer
          example: "2"
        - name: dnt
          in: header
          schema:
            type: integer
          example: "1"
        - name: icn
          in: header
          schema:
            type: integer
          example: "160408"
        - name: origin
          in: header
          schema:
            type: string
          example: https://ssptrips.ntta.org
        - name: overridentoken
          in: header
          schema:
            type: string
        - name: pragma
          in: header
          schema:
            type: string
          example: no-cache
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://ssptrips.ntta.org/
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Google Chrome";v="143", "Chromium";v="143", "Not A(Brand";v="24"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: "?0"
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"macOS"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-site
        - name: user-agent
          in: header
          schema:
            type: string
          example: >-
            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36
            (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36
      responses:
        "200":
          description: successfully / 200
          headers:
            access-control-allow-origin:
              schema:
                type: string
              example: https://ssptrips.ntta.org
            access-control-expose-headers:
              schema:
                type: string
              example: Content-Disposition
            content-length:
              schema:
                type: integer
              example: "5"
            content-security-policy:
              schema:
                type: string
              example: >-
                default-src * 'unsafe-inline' 'unsafe-eval'; script-src *
                'unsafe-inline' 'unsafe-eval'; connect-src * 'unsafe-inline';
                img-src * data: blob: 'unsafe-inline'; frame-src *; style-src *
                'unsafe-inline';
            date:
              schema:
                type: string
              example: Sat, 20 Dec 2025 18:40:33 GMT
            strict-transport-security:
              schema:
                type: string
              example: max-age=31536000; includeSubDomains; preload
            vary:
              schema:
                type: string
              example: Origin
            x-cdn:
              schema:
                type: string
              example: Imperva
            x-content-type-options:
              schema:
                type: string
              example: nosniff
            x-iinfo:
              schema:
                type: string
              example: >-
                4-13560943-13560945 PNNN RT(1766256033307 47) q(0 0 0 -1) r(1 1)
                U24
            x-xss-protection:
              schema:
                type: string
              example: 1; mode=block
          content:
            application/json:
              schema:
                type: integer
              example: 20011
  /CustomerPortal/api/authenticate:
    post:
      summary: sptrips.ntta.org/CustomerPortal/api/authenticate
      parameters:
        - name: ":authority"
          in: header
          schema:
            type: string
          example: sptrips.ntta.org
        - name: ":method"
          in: header
          schema:
            type: string
          example: POST
        - name: ":path"
          in: header
          schema:
            type: string
          example: /CustomerPortal/api/authenticate
        - name: ":scheme"
          in: header
          schema:
            type: string
          example: https
        - name: accept-encoding
          in: header
          schema:
            type: string
          example: gzip, deflate, br, zstd
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-US,en;q=0.9
        - name: allowanonymous
          in: header
          schema:
            type: boolean
          example: "true"
        - name: api-origin
          in: header
          schema:
            type: string
          example: CustomerPortal
        - name: appcurrdate
          in: header
          schema:
            type: string
          example: 12%2F20%2F2025%2012%3A40%3A32%20PM
        - name: cache-control
          in: header
          schema:
            type: string
          example: no-cache
        - name: channelid
          in: header
          schema:
            type: integer
          example: "2"
        - name: content-length
          in: header
          schema:
            type: integer
          example: "93"
        - name: dnt
          in: header
          schema:
            type: integer
          example: "1"
        - name: icn
          in: header
          schema:
            type: integer
          example: "160408"
        - name: origin
          in: header
          schema:
            type: string
          example: https://ssptrips.ntta.org
        - name: overridentoken
          in: header
          schema:
            type: string
        - name: pragma
          in: header
          schema:
            type: string
          example: no-cache
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://ssptrips.ntta.org/
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Google Chrome";v="143", "Chromium";v="143", "Not A(Brand";v="24"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: "?0"
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"macOS"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-site
        - name: user-agent
          in: header
          schema:
            type: string
          example: >-
            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36
            (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36
      responses:
        "210":
          description: " / 210"
          headers:
            access-control-allow-origin:
              schema:
                type: string
              example: https://ssptrips.ntta.org
            access-control-expose-headers:
              schema:
                type: string
              example: Content-Disposition
            content-security-policy:
              schema:
                type: string
              example: >-
                default-src * 'unsafe-inline' 'unsafe-eval'; script-src *
                'unsafe-inline' 'unsafe-eval'; connect-src * 'unsafe-inline';
                img-src * data: blob: 'unsafe-inline'; frame-src *; style-src *
                'unsafe-inline';
            date:
              schema:
                type: string
              example: Sat, 20 Dec 2025 18:40:33 GMT
            strict-transport-security:
              schema:
                type: string
              example: max-age=31536000; includeSubDomains; preload
            vary:
              schema:
                type: string
              example: Origin
            x-cdn:
              schema:
                type: string
              example: Imperva
            x-content-type-options:
              schema:
                type: string
              example: nosniff
            x-iinfo:
              schema:
                type: string
              example: >-
                4-13560943-13560945 PNNN RT(1766256033307 162) q(0 1 1 -1) r(1
                1) U24
            x-xss-protection:
              schema:
                type: string
              example: 1; mode=block
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                UserName:
                  type: string
                Password:
                  type: string
                Grant_Type:
                  type: string
                RememberMe:
                  type: boolean
            example:
              UserName: username
              Password: password
              Grant_Type: password
              RememberMe: false
  /CustomerPortal.LookupData/api/ICN:
    get:
      summary: >-
        sptrips.ntta.org/CustomerPortal.LookupData/api/ICN?username=CustomerPortal&locationName=CustomerPortal&channel=Online
      parameters:
        - name: username
          in: query
          schema:
            type: string
          example: CustomerPortal
        - name: locationName
          in: query
          schema:
            type: string
          example: CustomerPortal
        - name: channel
          in: query
          schema:
            type: string
          example: Online
        - name: ":authority"
          in: header
          schema:
            type: string
          example: sptrips.ntta.org
        - name: ":method"
          in: header
          schema:
            type: string
          example: GET
        - name: ":path"
          in: header
          schema:
            type: string
          example: >-
            /CustomerPortal.LookupData/api/ICN?username=CustomerPortal&locationName=CustomerPortal&channel=Online
        - name: ":scheme"
          in: header
          schema:
            type: string
          example: https
        - name: accept-encoding
          in: header
          schema:
            type: string
          example: gzip, deflate, br, zstd
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-US,en;q=0.9
        - name: allowanonymous
          in: header
          schema:
            type: boolean
          example: "false"
        - name: api-origin
          in: header
          schema:
            type: string
          example: CustomerPortal
        - name: appcurrdate
          in: header
          schema:
            type: string
          example: 12%2F20%2F2025%2012%3A40%3A37%20PM
        - name: cache-control
          in: header
          schema:
            type: string
          example: no-cache
        - name: channelid
          in: header
          schema:
            type: integer
          example: "2"
        - name: dnt
          in: header
          schema:
            type: integer
          example: "1"
        - name: icn
          in: header
          schema:
            type: integer
          example: "160408"
        - name: origin
          in: header
          schema:
            type: string
          example: https://ssptrips.ntta.org
        - name: overridentoken
          in: header
          schema:
            type: string
        - name: pragma
          in: header
          schema:
            type: string
          example: no-cache
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://ssptrips.ntta.org/
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Google Chrome";v="143", "Chromium";v="143", "Not A(Brand";v="24"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: "?0"
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"macOS"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-site
        - name: user-agent
          in: header
          schema:
            type: string
          example: >-
            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36
            (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36
      responses:
        "200":
          description: successfully / 200
          headers:
            access-control-allow-origin:
              schema:
                type: string
              example: "*"
            access-control-expose-headers:
              schema:
                type: string
              example: Content-Disposition
            cache-control:
              schema:
                type: string
              example: max-age=86400
            content-encoding:
              schema:
                type: string
              example: gzip
            content-security-policy:
              schema:
                type: string
              example: >-
                default-src * 'unsafe-inline' 'unsafe-eval'; script-src *
                'unsafe-inline' 'unsafe-eval'; connect-src * 'unsafe-inline';
                img-src * data: blob: 'unsafe-inline'; frame-src *; style-src *
                'unsafe-inline';
            date:
              schema:
                type: string
              example: Sat, 20 Dec 2025 18:40:38 GMT
            etag:
              schema:
                type: string
              example: W/"07745209-c262-41fd-a360-4becaa03f93b"
            last-modified:
              schema:
                type: string
              example: Sat, 20 Dec 2025 03:00:01 GMT
            strict-transport-security:
              schema:
                type: string
              example: max-age=31536000; includeSubDomains; preload
            x-cdn:
              schema:
                type: string
              example: Imperva
            x-content-type-options:
              schema:
                type: string
              example: nosniff
            x-iinfo:
              schema:
                type: string
              example: >-
                4-13560943-13561094 NNNN CT(5 5 0) RT(1766256033307 4870) q(0 1
                1 -1) r(1 1) U24
            x-xss-protection:
              schema:
                type: string
              example: 1; mode=block
          content:
            application/json:
              schema:
                type: object
                properties:
                  LocationRoleId:
                    type: integer
                  BatchId:
                    type: integer
                  ShiftStartDate:
                    type: string
                    format: style
                  ShiftEndDate:
                    type: string
                  CashAmount:
                    type: integer
                  CheckAmount:
                    type: integer
                  CreditAmount:
                    type: integer
                  MOAmount:
                    type: integer
                  FloatAmount:
                    type: integer
                  ItemReplacementCount:
                    type: integer
                  ItemAssignCount:
                    type: integer
                  ItemReturnedCount:
                    type: integer
                  ItemAllotedCount:
                    type: integer
                  ItemRemainingCount:
                    type: integer
                  ICNNotes:
                    nullable: true
                  TotalVarianceAmount:
                    type: integer
                  TotalVarianceItemCount:
                    type: integer
                  TotalCount:
                    type: integer
                  VoucherNo:
                    nullable: true
                  TxnType:
                    type: integer
                  TxnId:
                    type: integer
                  TxnAmount:
                    type: integer
                  LocationCode:
                    nullable: true
                  LocationName:
                    nullable: true
                  IsDayShiftClose:
                    type: boolean
                  CashierCheckAmount:
                    type: integer
                  BWVCount:
                    type: integer
                  LocationId:
                    type: integer
                  StickerTagCount:
                    type: integer
                  IntegratedTagCount:
                    type: integer
                  LicensePlateTagCount:
                    type: integer
                  HardCaseTagCount:
                    type: integer
                  IsBankDepositCreated:
                    type: boolean
                  ParentRoleId:
                    type: integer
                  ShiftApprovalStatus:
                    nullable: true
                  SerialNos:
                    nullable: true
                  ChannelId:
                    type: integer
                  SystemBalance:
                    type: integer
                  ShiftSubmitted:
                    type: boolean
                  ResponseMessage:
                    nullable: true
                  ReasonCode:
                    nullable: true
                  IsRecalculate:
                    type: boolean
                  isFromRTPPortal:
                    type: boolean
                  ICNId:
                    type: integer
                  ICNStatus:
                    nullable: true
                  UserId:
                    type: integer
                  UserName:
                    nullable: true
                  CreatedUser:
                    nullable: true
                  CreatedDate:
                    type: string
                    format: style
                  UpdatedDate:
                    type: string
                  UpdatedUser:
                    nullable: true
                  RoleId:
                    type: integer
                  RoleName:
                    nullable: true
                  LoginId:
                    type: integer
                  CustomerID:
                    type: integer
                  LinkSource:
                    nullable: true
                  SortColumn:
                    nullable: true
                  SortDir:
                    type: integer
                  PageNumber:
                    type: integer
                  PageSize:
                    type: integer
                  ReCount:
                    type: integer
              example:
                LocationRoleId: 0
                BatchId: 0
                ShiftStartDate: "0001-01-01T00:00:00"
                ShiftEndDate: "0001-01-01T00:00:00"
                CashAmount: 0
                CheckAmount: 0
                CreditAmount: 0
                MOAmount: 0
                FloatAmount: 0
                ItemReplacementCount: 0
                ItemAssignCount: 0
                ItemReturnedCount: 0
                ItemAllotedCount: 0
                ItemRemainingCount: 0
                ICNNotes: null
                TotalVarianceAmount: 0
                TotalVarianceItemCount: 0
                TotalCount: 0
                VoucherNo: null
                TxnType: 0
                TxnId: 0
                TxnAmount: 0
                LocationCode: null
                LocationName: null
                IsDayShiftClose: false
                CashierCheckAmount: 0
                BWVCount: 0
                LocationId: 20198
                StickerTagCount: 0
                IntegratedTagCount: 0
                LicensePlateTagCount: 0
                HardCaseTagCount: 0
                IsBankDepositCreated: false
                ParentRoleId: 0
                ShiftApprovalStatus: null
                SerialNos: null
                ChannelId: 2
                SystemBalance: 0
                ShiftSubmitted: false
                ResponseMessage: null
                ReasonCode: null
                IsRecalculate: false
                isFromRTPPortal: false
                ICNId: 160408
                ICNStatus: null
                UserId: 0
                UserName: null
                CreatedUser: null
                CreatedDate: "0001-01-01T00:00:00"
                UpdatedDate: "0001-01-01T00:00:00"
                UpdatedUser: null
                RoleId: 0
                RoleName: null
                LoginId: 0
                CustomerID: 9876543210
                LinkSource: null
                SortColumn: null
                SortDir: 0
                PageNumber: 0
                PageSize: 0
                ReCount: 0
  /CustomerPortal/api/customers/1234567/balance/ACTIVE/false:
    get:
      summary: >-
        sptrips.ntta.org/CustomerPortal/api/customers/1234567/balance/ACTIVE/false
      parameters:
        - name: ":authority"
          in: header
          schema:
            type: string
          example: sptrips.ntta.org
        - name: ":method"
          in: header
          schema:
            type: string
          example: GET
        - name: ":path"
          in: header
          schema:
            type: string
          example: /CustomerPortal/api/customers/1234567/balance/ACTIVE/false
        - name: ":scheme"
          in: header
          schema:
            type: string
          example: https
        - name: accept-encoding
          in: header
          schema:
            type: string
          example: gzip, deflate, br, zstd
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-US,en;q=0.9
        - name: allowanonymous
          in: header
          schema:
            type: boolean
          example: "false"
        - name: api-origin
          in: header
          schema:
            type: string
          example: CustomerPortal
        - name: appcurrdate
          in: header
          schema:
            type: string
          example: 12%2F20%2F2025%2012%3A40%3A37%20PM
        - name: cache-control
          in: header
          schema:
            type: string
          example: no-cache
        - name: channelid
          in: header
          schema:
            type: integer
          example: "2"
        - name: dnt
          in: header
          schema:
            type: integer
          example: "1"
        - name: icn
          in: header
          schema:
            type: integer
          example: "160408"
        - name: origin
          in: header
          schema:
            type: string
          example: https://ssptrips.ntta.org
        - name: overridentoken
          in: header
          schema:
            type: string
        - name: pragma
          in: header
          schema:
            type: string
          example: no-cache
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://ssptrips.ntta.org/
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Google Chrome";v="143", "Chromium";v="143", "Not A(Brand";v="24"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: "?0"
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"macOS"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-site
        - name: user-agent
          in: header
          schema:
            type: string
          example: >-
            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36
            (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36
      responses:
        "200":
          description: successfully / 200
          headers:
            access-control-allow-origin:
              schema:
                type: string
              example: https://ssptrips.ntta.org
            access-control-expose-headers:
              schema:
                type: string
              example: Content-Disposition
            content-length:
              schema:
                type: integer
              example: "946"
            content-security-policy:
              schema:
                type: string
              example: >-
                default-src * 'unsafe-inline' 'unsafe-eval'; script-src *
                'unsafe-inline' 'unsafe-eval'; connect-src * 'unsafe-inline';
                img-src * data: blob: 'unsafe-inline'; frame-src *; style-src *
                'unsafe-inline';
            date:
              schema:
                type: string
              example: Sat, 20 Dec 2025 18:40:38 GMT
            strict-transport-security:
              schema:
                type: string
              example: max-age=31536000; includeSubDomains; preload
            vary:
              schema:
                type: string
              example: Origin
            x-cdn:
              schema:
                type: string
              example: Imperva
            x-content-type-options:
              schema:
                type: string
              example: nosniff
            x-iinfo:
              schema:
                type: string
              example: >-
                4-13560943-13561094 PNNN RT(1766256033307 4904) q(0 0 0 -1) r(0
                0) U24
            x-xss-protection:
              schema:
                type: string
              example: 1; mode=block
          content:
            application/json:
              schema:
                type: object
                properties:
                  $type:
                    type: string
                  BalanceType:
                    type: integer
                  BalanceAmount:
                    type: integer
                  CustomerId:
                    type: integer
                  UserName:
                    nullable: true
                  TollBalance:
                    type: number
                  CollectionBalance:
                    type: integer
                  ViolationBalance:
                    type: integer
                  TagDepositeBalance:
                    type: integer
                  OtherDepositBalance:
                    type: integer
                  PromoBalance:
                    type: integer
                  RefundBalance:
                    type: integer
                  IsCustomer:
                    type: boolean
                  ViolationDepositBalance:
                    type: integer
                  LastAdjustmentAmount:
                    type: integer
                  LastReversalAmount:
                    type: integer
                  LastRefundAmount:
                    type: integer
                  AdminHearBalance:
                    type: integer
                  RequestedAmount:
                    type: integer
                  PostpaidBalance:
                    type: integer
                  EMIBalance:
                    type: integer
                  EligibleOverPaymentAmount:
                    type: integer
                  RewardPoint:
                    type: integer
                  RewardBalances:
                    type: integer
                  CSVRewardIds:
                    nullable: true
                  AnonymousBalance:
                    type: integer
                  AdvancePayment:
                    type: integer
                  RPLastAdjustmentAmount:
                    nullable: true
                  RPLastReversalAmount:
                    nullable: true
                  RPLastRefundAmount:
                    nullable: true
                  RPIsManualHold:
                    nullable: true
                  RPTagDepositeBalance:
                    nullable: true
                  RPTollBalance:
                    nullable: true
                  RPPayByPlate:
                    nullable: true
                  IsRPPayByPlate:
                    type: boolean
                  IsAnonymousCustomer:
                    type: boolean
                  TollsAtZipCashRate:
                    type: integer
                  FeesOnAccount:
                    type: integer
                  DueOnAccount:
                    type: integer
                  TollsAtAviRate:
                    type: integer
              example:
                $type: TollPlus.TBOS.Model.Balances.Balances, TollPlus.TBOS.Model
                BalanceType: 1
                BalanceAmount: 0
                CustomerId: 0
                UserName: null
                TollBalance: 13.85
                CollectionBalance: 0
                ViolationBalance: 0
                TagDepositeBalance: 0
                OtherDepositBalance: 0
                PromoBalance: 0
                RefundBalance: 0
                IsCustomer: false
                ViolationDepositBalance: 0
                LastAdjustmentAmount: 0
                LastReversalAmount: 0
                LastRefundAmount: 0
                AdminHearBalance: 0
                RequestedAmount: 0
                PostpaidBalance: 0
                EMIBalance: 0
                EligibleOverPaymentAmount: 0
                RewardPoint: 0
                RewardBalances: 0
                CSVRewardIds: null
                AnonymousBalance: 0
                AdvancePayment: 0
                RPLastAdjustmentAmount: null
                RPLastReversalAmount: null
                RPLastRefundAmount: null
                RPIsManualHold: null
                RPTagDepositeBalance: null
                RPTollBalance: null
                RPPayByPlate: null
                IsRPPayByPlate: false
                IsAnonymousCustomer: false
                TollsAtZipCashRate: 0
                FeesOnAccount: 0
                DueOnAccount: 0
                TollsAtAviRate: 0
  /CustomerPortal/api/customers/1234567/customerinfo:
    get:
      summary: sptrips.ntta.org/CustomerPortal/api/customers/1234567/customerinfo
      parameters:
        - name: ":authority"
          in: header
          schema:
            type: string
          example: sptrips.ntta.org
        - name: ":method"
          in: header
          schema:
            type: string
          example: GET
        - name: ":path"
          in: header
          schema:
            type: string
          example: /CustomerPortal/api/customers/1234567/customerinfo
        - name: ":scheme"
          in: header
          schema:
            type: string
          example: https
        - name: accept-encoding
          in: header
          schema:
            type: string
          example: gzip, deflate, br, zstd
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-US,en;q=0.9
        - name: allowanonymous
          in: header
          schema:
            type: boolean
          example: "false"
        - name: api-origin
          in: header
          schema:
            type: string
          example: CustomerPortal
        - name: appcurrdate
          in: header
          schema:
            type: string
          example: 12%2F20%2F2025%2012%3A40%3A37%20PM
        - name: cache-control
          in: header
          schema:
            type: string
          example: no-cache
        - name: channelid
          in: header
          schema:
            type: integer
          example: "2"
        - name: dnt
          in: header
          schema:
            type: integer
          example: "1"
        - name: icn
          in: header
          schema:
            type: integer
          example: "160408"
        - name: origin
          in: header
          schema:
            type: string
          example: https://ssptrips.ntta.org
        - name: overridentoken
          in: header
          schema:
            type: string
        - name: pragma
          in: header
          schema:
            type: string
          example: no-cache
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://ssptrips.ntta.org/
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Google Chrome";v="143", "Chromium";v="143", "Not A(Brand";v="24"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: "?0"
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"macOS"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-site
        - name: user-agent
          in: header
          schema:
            type: string
          example: >-
            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36
            (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36
      responses:
        "200":
          description: successfully / 200
          headers:
            access-control-allow-origin:
              schema:
                type: string
              example: https://ssptrips.ntta.org
            access-control-expose-headers:
              schema:
                type: string
              example: Content-Disposition
            content-length:
              schema:
                type: integer
              example: "5583"
            content-security-policy:
              schema:
                type: string
              example: >-
                default-src * 'unsafe-inline' 'unsafe-eval'; script-src *
                'unsafe-inline' 'unsafe-eval'; connect-src * 'unsafe-inline';
                img-src * data: blob: 'unsafe-inline'; frame-src *; style-src *
                'unsafe-inline';
            date:
              schema:
                type: string
              example: Sat, 20 Dec 2025 18:40:38 GMT
            strict-transport-security:
              schema:
                type: string
              example: max-age=31536000; includeSubDomains; preload
            vary:
              schema:
                type: string
              example: Origin
            x-cdn:
              schema:
                type: string
              example: Imperva
            x-content-type-options:
              schema:
                type: string
              example: nosniff
            x-iinfo:
              schema:
                type: string
              example: >-
                4-13560943-13561088 PNNN RT(1766256033307 4911) q(0 0 0 -1) r(1
                1) U24
            x-xss-protection:
              schema:
                type: string
              example: 1; mode=block
          content:
            application/json:
              schema:
                type: object
                properties:
                  $type:
                    type: string
                  AccountId:
                    type: integer
                  SourcePkId:
                    type: integer
                  ContactId:
                    type: integer
                  RevenueCategory:
                    type: string
                  CustomerStatus:
                    type: integer
                  SourceOfEntry:
                    nullable: true
                  ParentId:
                    type: integer
                  AccountType:
                    type: string
                  IsGroundTransportation:
                    type: boolean
                  IsNotificationsEnabled:
                    type: boolean
                  FirstName:
                    type: string
                  MiddleName:
                    nullable: true
                  LastName:
                    type: string
                  Gender:
                    nullable: true
                  Title:
                    nullable: true
                  Suffix:
                    nullable: true
                  NameType:
                    nullable: true
                  InitiatedBy:
                    nullable: true
                  UserName:
                    type: string
                  Password:
                    nullable: true
                  RetypePassword:
                    nullable: true
                  AddressType:
                    type: integer
                  Line1:
                    nullable: true
                  Line2:
                    nullable: true
                  Line3:
                    nullable: true
                  City:
                    nullable: true
                  State:
                    nullable: true
                  Country:
                    nullable: true
                  Zip1:
                    nullable: true
                  Zip2:
                    nullable: true
                  IsCommunication:
                    type: boolean
                  Pin:
                    nullable: true
                  PhoneList:
                    nullable: true
                  EmailList:
                    nullable: true
                  Email:
                    nullable: true
                  Address:
                    nullable: true
                  OrganizationName:
                    type: string
                  WebType:
                    nullable: true
                  AddressList:
                    nullable: true
                  SubSystem:
                    nullable: true
                  ActivitySource:
                    nullable: true
                  IsSplitCustomer:
                    type: boolean
                  boolActivityRequired:
                    type: boolean
                  convertToCustomer:
                    type: boolean
                  UserId:
                    type: integer
                  ActionCode:
                    nullable: true
                  FeaturesCode:
                    nullable: true
                  LoginId:
                    type: integer
                  KeyValue:
                    nullable: true
                  User:
                    nullable: true
                  ActivityTypeDescription:
                    nullable: true
                  CheckBlockList:
                    type: boolean
                  KYCStatus:
                    nullable: true
                  KYCDate:
                    nullable: true
                  KYCRequired:
                    type: boolean
                  AddKYCDocument:
                    nullable: true
                  LoginStatus:
                    nullable: true
                  UnPaidAmount:
                    type: integer
                  PlanCode:
                    nullable: true
                  PlanDescription:
                    nullable: true
                  ParentPlanId:
                    type: integer
                  ParentPlanCode:
                    nullable: true
                  ParentPlanDescription:
                    nullable: true
                  EnrollmentNumber:
                    nullable: true
                  IsRegistered:
                    type: boolean
                  PreloadedAccountId:
                    type: integer
                  DOB:
                    type: string
                    format: style
                  IsCreateAccount:
                    type: boolean
                  IsPrimary:
                    type: boolean
                  Alerts:
                    type: boolean
                  AdditionalContacts:
                    nullable: true
                  AccountStatus:
                    type: string
                  IsParent:
                    type: boolean
                  PlanId:
                    type: integer
                  PlanName:
                    type: string
                  ParentPlanName:
                    type: string
                  IsTagRequired:
                    type: boolean
                  CreatedDate:
                    type: string
                    format: style
                  AutoReplenishmentType:
                    type: string
                  UserType:
                    type: string
                  UserTypeDesc:
                    nullable: true
                  kYCStatus:
                    type: string
                  PayByPlate:
                    nullable: true
                  CloseOnDate:
                    type: string
                    format: style
                  FutureCloseStatus:
                    nullable: true
                  IsProcessed:
                    type: boolean
                  RequestId:
                    type: integer
                  HearingImpairment:
                    type: boolean
                  FrequentCaller:
                    type: boolean
                  SuperVisor:
                    type: boolean
                  AddressId:
                    type: integer
                  AccountStatusDesc:
                    type: string
                  OWNERFIRSTNAME2:
                    nullable: true
                  OWNERLASTNAME2:
                    nullable: true
                  TranponderPurchasemethod:
                    type: integer
                  IsSkipTraced:
                    type: boolean
                  CustomerAddressId:
                    type: integer
                  CurrentPasswordExpiryDate:
                    type: string
                    format: style
                  TxnDetailsFrequency:
                    nullable: true
                  TxnDetailsFrequencyDesc:
                    nullable: true
                  TxnDetailsLastRunDate:
                    nullable: true
                  PaymentDetailsFrequency:
                    nullable: true
                  PaymentDetailsLastRunDate:
                    nullable: true
                  PaymentDetailsFrequencyDesc:
                    nullable: true
                  FullName:
                    type: string
                  FullAddress:
                    type: string
                  FullAddressWithAddressFormat:
                    type: string
                  RecordCount:
                    type: integer
                  EmailAddress:
                    nullable: true
                  PhoneNumber:
                    nullable: true
                  TollType:
                    nullable: true
                  Phone:
                    nullable: true
                  IsDisableSkipTrace:
                    type: boolean
                  AccountStatusFlagDescription:
                    type: string
                  custInvoiceDetails:
                    nullable: true
                  NonRevenueType:
                    type: string
                  FleetType:
                    nullable: true
                  IsFleet:
                    type: boolean
                  FleetAbbreviation:
                    nullable: true
                  BalanceDue:
                    type: integer
                  VehicleNumber:
                    nullable: true
                  AccountDetails:
                    nullable: true
                  AccountIds:
                    nullable: true
                  AgencyCode:
                    nullable: true
                  IsPaymentFirst:
                    type: boolean
                  IsAddressChanged:
                    type: boolean
                  PreviousVCFName:
                    nullable: true
                  PreviousVCFId:
                    type: integer
                  VehicleId:
                    type: integer
                  EndEffectiveDate:
                    type: string
                    format: style
                  StartEffectiveDate:
                    type: string
                  CompanyCode:
                    nullable: true
                  VehicleList:
                    nullable: true
                  RegCustRefId:
                    type: integer
                  RegCustRefStatus:
                    type: string
                  IspAct:
                    type: boolean
                  PaymentSpecGroup:
                    nullable: true
                  IsHomeRetailer:
                    type: boolean
                  AutoReplenishmentTypeDesc:
                    type: string
                  ReferenceID:
                    nullable: true
                  ZipcashAccountList:
                    nullable: true
                  IsZipcashConversion:
                    type: boolean
                  IsProtected:
                    type: boolean
                  icnId:
                    type: integer
                  ChnnelId:
                    type: integer
                  SkipLoginDetails:
                    type: boolean
                  SkipPinDetails:
                    type: boolean
                  ViolatorType:
                    type: string
                  ViolatorTypeDesc:
                    type: string
                  Source:
                    nullable: true
                  SubSource:
                    nullable: true
                  SourcewithSubSource:
                    nullable: true
                  IsThirdParty:
                    type: boolean
                  FirstName2:
                    nullable: true
                  LastName2:
                    nullable: true
                  SettlementFrequency:
                    nullable: true
                  AccountFlags:
                    type: object
                    properties:
                      $type:
                        type: string
                      PreferedLanguange:
                        nullable: true
                      IsHearingImpirement:
                        type: boolean
                      ISFrequentCaller:
                        type: boolean
                      IsSupervisor:
                        type: boolean
                      PerformBy:
                        nullable: true
                      CustomerId:
                        type: integer
                      IsTagInStatusFile:
                        type: boolean
                      SubSystem:
                        nullable: true
                      ActivitySource:
                        nullable: true
                      IsCreateAccountUserActivity:
                        type: boolean
                      IsEventSponsor:
                        type: boolean
                      IsVip:
                        type: boolean
                      IsMilitary:
                        type: boolean
                      IsSuspiciousActivity:
                        type: boolean
                      IsNotAcceptChecks:
                        type: boolean
                      IsBankruptcy:
                        type: boolean
                      IsReferredtoSupervisor:
                        type: boolean
                      IsLegalHold:
                        type: boolean
                      IsTaxExempt:
                        type: boolean
                      IsDeceased:
                        type: boolean
                      IsBadAddress:
                        type: boolean
                      IsBadEmail:
                        type: boolean
                      IsBadPhone:
                        type: boolean
                      IsEscheatment:
                        type: boolean
                      IsEscheated:
                        type: boolean
                      IsWriteOff:
                        type: boolean
                      IsRefundRequest:
                        type: boolean
                      IsRefundIssued:
                        type: boolean
                      IsGroundTransportation:
                        type: boolean
                      IsTollPerks:
                        type: boolean
                      IsMarketingAndNewsletter:
                        type: boolean
                      IsDirectcarrierBilling:
                        type: boolean
                      IsInvalidParkingCard:
                        type: boolean
                      IsHavingOpenCase:
                        type: boolean
                      IsLastCardExpiring:
                        type: boolean
                      IsUnresolvedReturnedCheck:
                        type: boolean
                      IsInvalidTollCard:
                        type: boolean
                      IsOpenComplaint:
                        type: boolean
                      IsMultipleChargeBacks:
                        type: boolean
                      IsUnResolvedChargeBacks:
                        type: boolean
                      SuspiciousActivityLog:
                        nullable: true
                      NegbalanceFlag:
                        type: boolean
                      NegbalanceDate:
                        type: string
                        format: style
                      IspAct:
                        type: boolean
                      IspActUpdate:
                        type: boolean
                      PlanCode:
                        nullable: true
                      IsCitationIssued:
                        type: boolean
                      IsAdminHearingScheduled:
                        type: boolean
                      IsInCollection:
                        type: boolean
                      IsLowBalance:
                        type: boolean
                      IsNegativeBalance:
                        type: boolean
                      IsManuallyFeeSuppressed:
                        type: boolean
                      IsAccDALOptIn:
                        type: boolean
                      IsAccDFWOptIn:
                        type: boolean
                      IsAccIOPOptIn:
                        type: boolean
                      FacilityName:
                        nullable: true
                      IsOptIn:
                        type: boolean
                      ExcessiveVTolls:
                        type: boolean
                      IsHV:
                        type: boolean
                      IsVRB:
                        type: boolean
                      IsPaymentPlanEstablished:
                        type: boolean
                      IsExclude:
                        type: boolean
                      ICNId:
                        type: integer
                      IsTollReplenishmentFailed:
                        type: boolean
                      IsParkingReplenishmentFailed:
                        type: boolean
                      IsPastResolvedReturnedChecks:
                        type: boolean
                      IsContinueAging:
                        type: boolean
                      IsBankruptcyOpenCase:
                        type: boolean
                      businessName:
                        nullable: true
                      GroundTranspotationIsUpdate:
                        nullable: true
                      IsValidUser:
                        type: boolean
                      IsZipcashAutoPay:
                        type: boolean
                      IsAccountBasePayment:
                        type: boolean
                      IsInvoiceBasePayment:
                        type: boolean
                      UpdatedUser:
                        nullable: true
                      isManageCard:
                        type: boolean
                      CustomerFlagName:
                        nullable: true
                  SecurityQuestionsAndAnswers:
                    nullable: true
                  IsBatchProcess:
                    type: boolean
                  IsValidate:
                    nullable: true
                  IsAccountBaseOrInvoiceBasePayment:
                    type: integer
                  VerificationID:
                    type: integer
                  IsZipcashCustomer:
                    type: boolean
                  Grant_Type:
                    nullable: true
                  CredintialUserName:
                    nullable: true
                  CaptchaKey:
                    nullable: true
              example:
                $type: TollPlus.TBOS.Model.Customer.Customer, TollPlus.TBOS.Model
                AccountId: 1234567
                SourcePkId: 0
                ContactId: 0
                RevenueCategory: Revenue
                CustomerStatus: 0
                SourceOfEntry: null
                ParentId: 0
                AccountType: PREPAID
                IsGroundTransportation: false
                IsNotificationsEnabled: false
                FirstName: JOHN
                MiddleName: null
                LastName: DOE
                Gender: null
                Title: null
                Suffix: null
                NameType: null
                InitiatedBy: null
                UserName: JOHNDOE123
                Password: null
                RetypePassword: null
                AddressType: 0
                Line1: null
                Line2: null
                Line3: null
                City: null
                State: null
                Country: null
                Zip1: null
                Zip2: null
                IsCommunication: false
                Pin: null
                PhoneList: null
                EmailList: null
                Email: null
                Address: null
                OrganizationName: ""
                WebType: null
                AddressList: null
                SubSystem: null
                ActivitySource: null
                IsSplitCustomer: false
                boolActivityRequired: false
                convertToCustomer: false
                UserId: 0
                ActionCode: null
                FeaturesCode: null
                LoginId: 0
                KeyValue: null
                User: null
                ActivityTypeDescription: null
                CheckBlockList: false
                KYCStatus: null
                KYCDate: null
                KYCRequired: false
                AddKYCDocument: null
                LoginStatus: null
                UnPaidAmount: 0
                PlanCode: null
                PlanDescription: null
                ParentPlanId: 0
                ParentPlanCode: null
                ParentPlanDescription: null
                EnrollmentNumber: null
                IsRegistered: false
                PreloadedAccountId: 0
                DOB: "0001-01-01T00:00:00"
                IsCreateAccount: false
                IsPrimary: false
                Alerts: false
                AdditionalContacts: null
                AccountStatus: AC
                IsParent: false
                PlanId: 3
                PlanName: PREPAID
                ParentPlanName: PREPAID
                IsTagRequired: true
                CreatedDate: "2014-07-12T00:00:00"
                AutoReplenishmentType: CreditCard
                UserType: Personal
                UserTypeDesc: null
                kYCStatus: ""
                PayByPlate: null
                CloseOnDate: "0001-01-01T00:00:00"
                FutureCloseStatus: null
                IsProcessed: false
                RequestId: 0
                HearingImpairment: false
                FrequentCaller: false
                SuperVisor: false
                AddressId: 0
                AccountStatusDesc: Active
                OWNERFIRSTNAME2: null
                OWNERLASTNAME2: null
                TranponderPurchasemethod: 0
                IsSkipTraced: false
                CustomerAddressId: 0
                CurrentPasswordExpiryDate: "0001-01-01T00:00:00"
                TxnDetailsFrequency: null
                TxnDetailsFrequencyDesc: null
                TxnDetailsLastRunDate: null
                PaymentDetailsFrequency: null
                PaymentDetailsLastRunDate: null
                PaymentDetailsFrequencyDesc: null
                FullName: JOHN DOE
                FullAddress: ",, , , ,  - , "
                FullAddressWithAddressFormat: ", <br/>, ,  <br/>"
                RecordCount: 0
                EmailAddress: null
                PhoneNumber: null
                TollType: null
                Phone: null
                IsDisableSkipTrace: false
                AccountStatusFlagDescription: ""
                custInvoiceDetails: null
                NonRevenueType: ""
                FleetType: null
                IsFleet: false
                FleetAbbreviation: null
                BalanceDue: 0
                VehicleNumber: null
                AccountDetails: null
                AccountIds: null
                AgencyCode: null
                IsPaymentFirst: false
                IsAddressChanged: false
                PreviousVCFName: null
                PreviousVCFId: 0
                VehicleId: 0
                EndEffectiveDate: "0001-01-01T00:00:00"
                StartEffectiveDate: "0001-01-01T00:00:00"
                CompanyCode: null
                VehicleList: null
                RegCustRefId: 0
                RegCustRefStatus: ""
                IspAct: false
                PaymentSpecGroup: null
                IsHomeRetailer: false
                AutoReplenishmentTypeDesc: Credit/Debit Card
                ReferenceID: null
                ZipcashAccountList: null
                IsZipcashConversion: false
                IsProtected: false
                icnId: 0
                ChnnelId: 0
                SkipLoginDetails: false
                SkipPinDetails: false
                ViolatorType: ""
                ViolatorTypeDesc: ""
                Source: null
                SubSource: null
                SourcewithSubSource: null
                IsThirdParty: false
                FirstName2: null
                LastName2: null
                SettlementFrequency: null
                AccountFlags:
                  $type: >-
                    TollPlus.TBOS.Model.Customer.AccountFlags,
                    TollPlus.TBOS.Model
                  PreferedLanguange: null
                  IsHearingImpirement: false
                  ISFrequentCaller: false
                  IsSupervisor: false
                  PerformBy: null
                  CustomerId: 0
                  IsTagInStatusFile: false
                  SubSystem: null
                  ActivitySource: null
                  IsCreateAccountUserActivity: false
                  IsEventSponsor: false
                  IsVip: false
                  IsMilitary: false
                  IsSuspiciousActivity: false
                  IsNotAcceptChecks: false
                  IsBankruptcy: false
                  IsReferredtoSupervisor: false
                  IsLegalHold: false
                  IsTaxExempt: false
                  IsDeceased: false
                  IsBadAddress: false
                  IsBadEmail: false
                  IsBadPhone: false
                  IsEscheatment: false
                  IsEscheated: false
                  IsWriteOff: false
                  IsRefundRequest: false
                  IsRefundIssued: false
                  IsGroundTransportation: false
                  IsTollPerks: false
                  IsMarketingAndNewsletter: false
                  IsDirectcarrierBilling: false
                  IsInvalidParkingCard: false
                  IsHavingOpenCase: false
                  IsLastCardExpiring: false
                  IsUnresolvedReturnedCheck: false
                  IsInvalidTollCard: false
                  IsOpenComplaint: false
                  IsMultipleChargeBacks: false
                  IsUnResolvedChargeBacks: false
                  SuspiciousActivityLog: null
                  NegbalanceFlag: false
                  NegbalanceDate: "2020-12-29T09:41:20"
                  IspAct: false
                  IspActUpdate: false
                  PlanCode: null
                  IsCitationIssued: false
                  IsAdminHearingScheduled: false
                  IsInCollection: false
                  IsLowBalance: false
                  IsNegativeBalance: false
                  IsManuallyFeeSuppressed: false
                  IsAccDALOptIn: false
                  IsAccDFWOptIn: false
                  IsAccIOPOptIn: false
                  FacilityName: null
                  IsOptIn: false
                  ExcessiveVTolls: false
                  IsHV: false
                  IsVRB: false
                  IsPaymentPlanEstablished: false
                  IsExclude: false
                  ICNId: 0
                  IsTollReplenishmentFailed: false
                  IsParkingReplenishmentFailed: false
                  IsPastResolvedReturnedChecks: false
                  IsContinueAging: false
                  IsBankruptcyOpenCase: false
                  businessName: null
                  GroundTranspotationIsUpdate: null
                  IsValidUser: false
                  IsZipcashAutoPay: false
                  IsAccountBasePayment: false
                  IsInvoiceBasePayment: false
                  UpdatedUser: null
                  isManageCard: false
                  CustomerFlagName: null
                SecurityQuestionsAndAnswers: null
                IsBatchProcess: false
                IsValidate: null
                IsAccountBaseOrInvoiceBasePayment: 0
                VerificationID: 0
                IsZipcashCustomer: false
                Grant_Type: null
                CredintialUserName: null
                CaptchaKey: null
  /CustomerPortal/api/authenticate/1234567:
    get:
      summary: sptrips.ntta.org/CustomerPortal/api/authenticate/1234567
      parameters:
        - name: ":authority"
          in: header
          schema:
            type: string
          example: sptrips.ntta.org
        - name: ":method"
          in: header
          schema:
            type: string
          example: GET
        - name: ":path"
          in: header
          schema:
            type: string
          example: /CustomerPortal/api/authenticate/1234567
        - name: ":scheme"
          in: header
          schema:
            type: string
          example: https
        - name: accept-encoding
          in: header
          schema:
            type: string
          example: gzip, deflate, br, zstd
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-US,en;q=0.9
        - name: allowanonymous
          in: header
          schema:
            type: boolean
          example: "false"
        - name: api-origin
          in: header
          schema:
            type: string
          example: CustomerPortal
        - name: appcurrdate
          in: header
          schema:
            type: string
          example: 12%2F20%2F2025%2012%3A40%3A37%20PM
        - name: cache-control
          in: header
          schema:
            type: string
          example: no-cache
        - name: channelid
          in: header
          schema:
            type: integer
          example: "2"
        - name: dnt
          in: header
          schema:
            type: integer
          example: "1"
        - name: icn
          in: header
          schema:
            type: integer
          example: "160408"
        - name: origin
          in: header
          schema:
            type: string
          example: https://ssptrips.ntta.org
        - name: overridentoken
          in: header
          schema:
            type: string
        - name: pragma
          in: header
          schema:
            type: string
          example: no-cache
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://ssptrips.ntta.org/
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Google Chrome";v="143", "Chromium";v="143", "Not A(Brand";v="24"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: "?0"
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"macOS"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-site
        - name: user-agent
          in: header
          schema:
            type: string
          example: >-
            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36
            (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36
      responses:
        "200":
          description: successfully / 200
          headers:
            access-control-allow-origin:
              schema:
                type: string
              example: https://ssptrips.ntta.org
            access-control-expose-headers:
              schema:
                type: string
              example: Content-Disposition
            content-length:
              schema:
                type: integer
              example: "1124"
            content-security-policy:
              schema:
                type: string
              example: >-
                default-src * 'unsafe-inline' 'unsafe-eval'; script-src *
                'unsafe-inline' 'unsafe-eval'; connect-src * 'unsafe-inline';
                img-src * data: blob: 'unsafe-inline'; frame-src *; style-src *
                'unsafe-inline';
            date:
              schema:
                type: string
              example: Sat, 20 Dec 2025 18:40:38 GMT
            strict-transport-security:
              schema:
                type: string
              example: max-age=31536000; includeSubDomains; preload
            vary:
              schema:
                type: string
              example: Origin
            x-cdn:
              schema:
                type: string
              example: Imperva
            x-content-type-options:
              schema:
                type: string
              example: nosniff
            x-iinfo:
              schema:
                type: string
              example: >-
                4-13560943-13561090 PNNN RT(1766256033307 4915) q(0 0 0 -1) r(1
                1) U24
            x-xss-protection:
              schema:
                type: string
              example: 1; mode=block
          content:
            application/json:
              schema:
                type: object
                properties:
                  $type:
                    type: string
                  UserName:
                    nullable: true
                  Password:
                    nullable: true
                  roleDesc:
                    nullable: true
                  RetypePassword:
                    nullable: true
                  Type:
                    type: boolean
                  AuthenticationType:
                    nullable: true
                  Pin:
                    nullable: true
                  FailedAttempts:
                    type: integer
                  LastLoginDateTime:
                    type: string
                    format: style
                  AccountId:
                    type: integer
                  CurrentPasswordExpiryDate:
                    type: string
                  OldPassword:
                    nullable: true
                  OldUserName:
                    nullable: true
                  AccountTypeId:
                    type: integer
                  CreatedUser:
                    nullable: true
                  CreatedDate:
                    type: string
                    format: style
                  UpdatedUser:
                    nullable: true
                  UpdatedDate:
                    type: string
                  emailId:
                    nullable: true
                  IsLocked:
                    type: boolean
                  LastPasswordModifiedDate:
                    type: string
                    format: style
                  LoginId:
                    type: integer
                  ActivitySource:
                    nullable: true
                  Subsystem:
                    nullable: true
                  PasswordAttemptsCount:
                    type: integer
                  LoggedUserId:
                    type: integer
                  IsChild:
                    type: integer
                  UserTypeId:
                    type: integer
                  IsActive:
                    type: boolean
                  FirstName:
                    nullable: true
                  LastName:
                    nullable: true
                  PhoneNumber:
                    nullable: true
                  SQAttemptCount:
                    type: integer
                  SQLockoutTime:
                    type: string
                  ParentId:
                    type: integer
                  AccountStatus:
                    nullable: true
                  LockOutTime:
                    type: string
                    format: style
                  LocationId:
                    type: integer
                  LocationName:
                    nullable: true
                  LocationCode:
                    nullable: true
                  IsLoginSuccess:
                    type: boolean
                  FirstTimeLoginDate:
                    type: string
                  OldPin:
                    nullable: true
                  AccountType:
                    nullable: true
                  IsProtectedAccount:
                    type: boolean
                  IsZipcashCustomer:
                    type: boolean
                  Grant_Type:
                    nullable: true
                  CredintialUserName:
                    nullable: true
              example:
                $type: TollPlus.TBOS.Model.Login.Login, TollPlus.TBOS.Model
                UserName: null
                Password: null
                roleDesc: null
                RetypePassword: null
                Type: false
                AuthenticationType: null
                Pin: null
                FailedAttempts: 0
                LastLoginDateTime: "2025-12-20T12:40:33"
                AccountId: 0
                CurrentPasswordExpiryDate: "2021-01-05T05:17:02"
                OldPassword: null
                OldUserName: null
                AccountTypeId: 0
                CreatedUser: null
                CreatedDate: "2014-07-12T21:37:44"
                UpdatedUser: null
                UpdatedDate: "0001-01-01T00:00:00"
                emailId: null
                IsLocked: false
                LastPasswordModifiedDate: "2020-09-11T12:15:31"
                LoginId: 0
                ActivitySource: null
                Subsystem: null
                PasswordAttemptsCount: 0
                LoggedUserId: 0
                IsChild: 0
                UserTypeId: 0
                IsActive: false
                FirstName: null
                LastName: null
                PhoneNumber: null
                SQAttemptCount: 0
                SQLockoutTime: "0001-01-01T00:00:00"
                ParentId: 0
                AccountStatus: null
                LockOutTime: "0001-01-01T00:00:00"
                LocationId: 0
                LocationName: null
                LocationCode: null
                IsLoginSuccess: false
                FirstTimeLoginDate: "0001-01-01T00:00:00"
                OldPin: null
                AccountType: null
                IsProtectedAccount: false
                IsZipcashCustomer: false
                Grant_Type: null
                CredintialUserName: null
  /CustomerPortal/api/verifyaccount/1234567:
    get:
      summary: sptrips.ntta.org/CustomerPortal/api/verifyaccount/1234567
      parameters:
        - name: ":authority"
          in: header
          schema:
            type: string
          example: sptrips.ntta.org
        - name: ":method"
          in: header
          schema:
            type: string
          example: GET
        - name: ":path"
          in: header
          schema:
            type: string
          example: /CustomerPortal/api/verifyaccount/1234567
        - name: ":scheme"
          in: header
          schema:
            type: string
          example: https
        - name: accept-encoding
          in: header
          schema:
            type: string
          example: gzip, deflate, br, zstd
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-US,en;q=0.9
        - name: allowanonymous
          in: header
          schema:
            type: boolean
          example: "false"
        - name: api-origin
          in: header
          schema:
            type: string
          example: CustomerPortal
        - name: appcurrdate
          in: header
          schema:
            type: string
          example: 12%2F20%2F2025%2012%3A40%3A37%20PM
        - name: cache-control
          in: header
          schema:
            type: string
          example: no-cache
        - name: channelid
          in: header
          schema:
            type: integer
          example: "2"
        - name: dnt
          in: header
          schema:
            type: integer
          example: "1"
        - name: icn
          in: header
          schema:
            type: integer
          example: "160408"
        - name: origin
          in: header
          schema:
            type: string
          example: https://ssptrips.ntta.org
        - name: overridentoken
          in: header
          schema:
            type: string
        - name: pragma
          in: header
          schema:
            type: string
          example: no-cache
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://ssptrips.ntta.org/
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Google Chrome";v="143", "Chromium";v="143", "Not A(Brand";v="24"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: "?0"
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"macOS"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-site
        - name: user-agent
          in: header
          schema:
            type: string
          example: >-
            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36
            (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36
      responses:
        "200":
          description: successfully / 200
          headers:
            access-control-allow-origin:
              schema:
                type: string
              example: https://ssptrips.ntta.org
            access-control-expose-headers:
              schema:
                type: string
              example: Content-Disposition
            content-length:
              schema:
                type: integer
              example: "4"
            content-security-policy:
              schema:
                type: string
              example: >-
                default-src * 'unsafe-inline' 'unsafe-eval'; script-src *
                'unsafe-inline' 'unsafe-eval'; connect-src * 'unsafe-inline';
                img-src * data: blob: 'unsafe-inline'; frame-src *; style-src *
                'unsafe-inline';
            date:
              schema:
                type: string
              example: Sat, 20 Dec 2025 18:40:38 GMT
            strict-transport-security:
              schema:
                type: string
              example: max-age=31536000; includeSubDomains; preload
            vary:
              schema:
                type: string
              example: Origin
            x-cdn:
              schema:
                type: string
              example: Imperva
            x-content-type-options:
              schema:
                type: string
              example: nosniff
            x-iinfo:
              schema:
                type: string
              example: >-
                4-13560943-13560945 PNNN RT(1766256033307 4917) q(0 0 0 -1) r(1
                1) U24
            x-xss-protection:
              schema:
                type: string
              example: 1; mode=block
          content:
            application/json:
              schema:
                type: boolean
              example: true
  /CustomerPortal/api/customers/1234567/accountsummary:
    get:
      summary: sptrips.ntta.org/CustomerPortal/api/customers/1234567/accountsummary
      parameters:
        - name: ":authority"
          in: header
          schema:
            type: string
          example: sptrips.ntta.org
        - name: ":method"
          in: header
          schema:
            type: string
          example: GET
        - name: ":path"
          in: header
          schema:
            type: string
          example: /CustomerPortal/api/customers/1234567/accountsummary
        - name: ":scheme"
          in: header
          schema:
            type: string
          example: https
        - name: accept-encoding
          in: header
          schema:
            type: string
          example: gzip, deflate, br, zstd
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-US,en;q=0.9
        - name: allowanonymous
          in: header
          schema:
            type: boolean
          example: "false"
        - name: api-origin
          in: header
          schema:
            type: string
          example: CustomerPortal
        - name: appcurrdate
          in: header
          schema:
            type: string
          example: 12%2F20%2F2025%2012%3A40%3A37%20PM
        - name: cache-control
          in: header
          schema:
            type: string
          example: no-cache
        - name: channelid
          in: header
          schema:
            type: integer
          example: "2"
        - name: dnt
          in: header
          schema:
            type: integer
          example: "1"
        - name: icn
          in: header
          schema:
            type: integer
          example: "160408"
        - name: origin
          in: header
          schema:
            type: string
          example: https://ssptrips.ntta.org
        - name: overridentoken
          in: header
          schema:
            type: string
        - name: pragma
          in: header
          schema:
            type: string
          example: no-cache
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://ssptrips.ntta.org/
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Google Chrome";v="143", "Chromium";v="143", "Not A(Brand";v="24"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: "?0"
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"macOS"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-site
        - name: user-agent
          in: header
          schema:
            type: string
          example: >-
            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36
            (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36
      responses:
        "200":
          description: successfully / 200
          headers:
            access-control-allow-origin:
              schema:
                type: string
              example: https://ssptrips.ntta.org
            access-control-expose-headers:
              schema:
                type: string
              example: Content-Disposition
            content-length:
              schema:
                type: integer
              example: "881"
            content-security-policy:
              schema:
                type: string
              example: >-
                default-src * 'unsafe-inline' 'unsafe-eval'; script-src *
                'unsafe-inline' 'unsafe-eval'; connect-src * 'unsafe-inline';
                img-src * data: blob: 'unsafe-inline'; frame-src *; style-src *
                'unsafe-inline';
            date:
              schema:
                type: string
              example: Sat, 20 Dec 2025 18:40:38 GMT
            strict-transport-security:
              schema:
                type: string
              example: max-age=31536000; includeSubDomains; preload
            vary:
              schema:
                type: string
              example: Origin
            x-cdn:
              schema:
                type: string
              example: Imperva
            x-content-type-options:
              schema:
                type: string
              example: nosniff
            x-iinfo:
              schema:
                type: string
              example: >-
                4-13560943-13561092 PNNN RT(1766256033307 4921) q(0 0 0 -1) r(1
                1) U24
            x-xss-protection:
              schema:
                type: string
              example: 1; mode=block
          content:
            application/json:
              schema:
                type: object
                properties:
                  $type:
                    type: string
                  AccountId:
                    type: integer
                  AccountStatus:
                    type: string
                  IsParent:
                    type: boolean
                  TollBal:
                    type: number
                  TagDepBal:
                    type: integer
                  TollType:
                    type: string
                  FullAddress:
                    nullable: true
                  PhoneNumber:
                    type: string
                  PhoneIsVerified:
                    type: boolean
                  PhoneType:
                    type: string
                  EmailAddress:
                    type: string
                    format: email
                  EmailType:
                    type: string
                  EmailIsVerified:
                    type: boolean
                  ActiveVehicleCount:
                    type: string
                    format: utc-millisec
                  InActiveVehicleCount:
                    type: string
                    format: utc-millisec
                  ComplaintOpensatus:
                    type: string
                    format: utc-millisec
                  ClosedComplaints:
                    type: string
                    format: utc-millisec
                  Line1:
                    type: string
                  Line2:
                    type: string
                  Line3:
                    type: string
                  City:
                    type: string
                  State:
                    type: string
                  Country:
                    type: string
                  Zip1:
                    type: string
                    format: utc-millisec
                  Zip2:
                    type: string
                  AccountStatusCode:
                    type: string
                  FullAddressWithAddressFormat:
                    type: string
                  CurrentPasswordExpiryDate:
                    type: string
                    format: style
                  NoOfDaysExpPassword:
                    type: integer
                  ReplenishmentAmnt:
                    type: integer
                  TranspondersCount:
                    type: integer
                  FullName:
                    type: string
                  ThresholdAmount:
                    type: integer
              example:
                $type: >-
                  TollPlus.TBOS.Model.Customer.CustomerSummary,
                  TollPlus.TBOS.Model
                AccountId: 1234567
                AccountStatus: Active
                IsParent: false
                TollBal: 13.85
                TagDepBal: 0
                TollType: Personal
                FullAddress: null
                PhoneNumber: (555) 123-4567
                PhoneIsVerified: false
                PhoneType: EveningPhone
                EmailAddress: JOHNDOE@EXAMPLE.COM
                EmailType: PrimaryEmail
                EmailIsVerified: false
                ActiveVehicleCount: "2"
                InActiveVehicleCount: "6"
                ComplaintOpensatus: "0"
                ClosedComplaints: "0"
                Line1: 123 MAIN ST
                Line2: ""
                Line3: ""
                City: DALLAS
                State: TX
                Country: USA
                Zip1: "75001"
                Zip2: ""
                AccountStatusCode: AC
                FullAddressWithAddressFormat: 123 MAIN ST, <br/>DALLAS, TX,  75001<br/>USA
                CurrentPasswordExpiryDate: "2021-01-05T05:17:02"
                NoOfDaysExpPassword: -1810
                ReplenishmentAmnt: 40
                TranspondersCount: 2
                FullName: JOHN DOE
                ThresholdAmount: 10
  /CustomerPortal.LookupData/api/applicationparameters:
    get:
      summary: >-
        sptrips.ntta.org/CustomerPortal.LookupData/api/applicationparameters?strKey=DaystoGetTransactionHistory
      parameters:
        - name: strKey
          in: query
          schema:
            type: string
          example: DaystoGetTransactionHistory
        - name: ":authority"
          in: header
          schema:
            type: string
          example: sptrips.ntta.org
        - name: ":method"
          in: header
          schema:
            type: string
          example: GET
        - name: ":path"
          in: header
          schema:
            type: string
          example: >-
            /CustomerPortal.LookupData/api/applicationparameters?strKey=DaystoGetTransactionHistory
        - name: ":scheme"
          in: header
          schema:
            type: string
          example: https
        - name: accept-encoding
          in: header
          schema:
            type: string
          example: gzip, deflate, br, zstd
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-US,en;q=0.9
        - name: allowanonymous
          in: header
          schema:
            type: boolean
          example: "true"
        - name: api-origin
          in: header
          schema:
            type: string
          example: CustomerPortal
        - name: appcurrdate
          in: header
          schema:
            type: string
          example: 12%2F20%2F2025%2012%3A40%3A37%20PM
        - name: cache-control
          in: header
          schema:
            type: string
          example: no-cache
        - name: channelid
          in: header
          schema:
            type: integer
          example: "2"
        - name: dnt
          in: header
          schema:
            type: integer
          example: "1"
        - name: icn
          in: header
          schema:
            type: integer
          example: "160408"
        - name: origin
          in: header
          schema:
            type: string
          example: https://ssptrips.ntta.org
        - name: overridentoken
          in: header
          schema:
            type: string
        - name: pragma
          in: header
          schema:
            type: string
          example: no-cache
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://ssptrips.ntta.org/
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Google Chrome";v="143", "Chromium";v="143", "Not A(Brand";v="24"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: "?0"
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"macOS"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-site
        - name: user-agent
          in: header
          schema:
            type: string
          example: >-
            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36
            (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36
      responses:
        "200":
          description: successfully / 200
          headers:
            access-control-allow-origin:
              schema:
                type: string
              example: "*"
            access-control-expose-headers:
              schema:
                type: string
              example: Content-Disposition
            cache-control:
              schema:
                type: string
              example: max-age=86400
            content-encoding:
              schema:
                type: string
              example: gzip
            content-security-policy:
              schema:
                type: string
              example: >-
                default-src * 'unsafe-inline' 'unsafe-eval'; script-src *
                'unsafe-inline' 'unsafe-eval'; connect-src * 'unsafe-inline';
                img-src * data: blob: 'unsafe-inline'; frame-src *; style-src *
                'unsafe-inline';
            date:
              schema:
                type: string
              example: Sat, 20 Dec 2025 18:40:38 GMT
            etag:
              schema:
                type: string
              example: W/"defffd49-861e-4982-8c5d-370ad91c507f"
            last-modified:
              schema:
                type: string
              example: Sat, 20 Dec 2025 11:22:11 GMT
            strict-transport-security:
              schema:
                type: string
              example: max-age=31536000; includeSubDomains; preload
            x-cdn:
              schema:
                type: string
              example: Imperva
            x-content-type-options:
              schema:
                type: string
              example: nosniff
            x-iinfo:
              schema:
                type: string
              example: >-
                4-13560943-13561090 PNNN RT(1766256033307 4945) q(0 1 1 -1) r(1
                1) U24
            x-xss-protection:
              schema:
                type: string
              example: 1; mode=block
          content:
            application/json:
              schema:
                type: object
                properties:
                  DefaultValue:
                    type: string
                    format: utc-millisec
              example:
                DefaultValue: "90"
  /CustomerPortal/api/customers/1234567/vehicles/1/5/true:
    get:
      summary: sptrips.ntta.org/CustomerPortal/api/customers/1234567/vehicles/1/5/true
      parameters:
        - name: ":authority"
          in: header
          schema:
            type: string
          example: sptrips.ntta.org
        - name: ":method"
          in: header
          schema:
            type: string
          example: GET
        - name: ":path"
          in: header
          schema:
            type: string
          example: /CustomerPortal/api/customers/1234567/vehicles/1/5/true
        - name: ":scheme"
          in: header
          schema:
            type: string
          example: https
        - name: accept-encoding
          in: header
          schema:
            type: string
          example: gzip, deflate, br, zstd
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-US,en;q=0.9
        - name: allowanonymous
          in: header
          schema:
            type: boolean
          example: "false"
        - name: api-origin
          in: header
          schema:
            type: string
          example: CustomerPortal
        - name: appcurrdate
          in: header
          schema:
            type: string
          example: 12%2F20%2F2025%2012%3A40%3A37%20PM
        - name: cache-control
          in: header
          schema:
            type: string
          example: no-cache
        - name: channelid
          in: header
          schema:
            type: integer
          example: "2"
        - name: dnt
          in: header
          schema:
            type: integer
          example: "1"
        - name: icn
          in: header
          schema:
            type: integer
          example: "160408"
        - name: origin
          in: header
          schema:
            type: string
          example: https://ssptrips.ntta.org
        - name: overridentoken
          in: header
          schema:
            type: string
        - name: pragma
          in: header
          schema:
            type: string
          example: no-cache
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://ssptrips.ntta.org/
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Google Chrome";v="143", "Chromium";v="143", "Not A(Brand";v="24"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: "?0"
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"macOS"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-site
        - name: user-agent
          in: header
[...]
